**.orig
*.bowerrc
*.rbc
*.sassc
*.sublime-project
*.sublime-workspace
.byebug_history
.DS_Store
.env
.powenv
.powrc
.project
.rspec
.rvmrc
.sass-cache
/.bundle
/config/application.yml
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/log
/log/*
/log/*.log
/public/assets/source_maps/*
/public/system
/public/system/*
/spec/support/captured_images/
/spec/tmp
/spec/tmp/*
/spec/examples.txt
/tmp
/tmp/*
/vendor/assets/bower_components
/vendor/bundle
bower.json
capybara-*.html
config/initializers/secret_token.rb
dump.rdb
erd.pdf
FALSE
latest.dump
manifest.json
pickle-email-*.html
Procfile.development
rerun.txt
app/assets/javascripts/webpack_bundle.js
node_modules
/app/assets/javascripts/webpack_*






