<% page_head_title "#{AppSettings.brand_name} | Home" %>
<% page_meta_keywords "Dogs, birds, cats, fish" %>
<% page_meta_desc "This is a description" %>

This is the home page

<p><a class="hello" href="#">Click This!</a>
